#root {
  text-align: center;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100vw;
}

@media (min-width: 800px) {
  .card {
    width: 40vw;
  }
}

h1 {
  line-height: 1.2;
}