#root {
  text-align: center;
}

.mainNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: 12px;
}
.mainNav .logo-devs-chile img{
  width: 100px;
}
.mainNav .logo-devs-chile {
  display: flex;
  align-items: center;
}
.mainNav .logo-devs-chile span {
  font-weight: bolder;
}

.mainNav .logo-boolean-academia {
  width: 150px;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.questions-list li {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 10%;
  text-decoration: underline;
  font-size: 0.8rem;
}
.questions-list a {
  color: black;
}
.questions-list .active li {
  background-color: black;
  color: white;
}

@media (min-width: 800px) {
  .card {
    width: 40vw;
  }
}

h1 {
  line-height: 1.2;
}